:root {
    --bs-primary: #925107;
    --secondary: #d6872c;
}
::-webkit-scrollbar {
    width:10px;
}
::selection{
    color: white;
    background-color: #925107;
}
::-webkit-scrollbar-thumb {
    background-color:rgba(107, 107, 107, 0.582); 
    border-radius: 5px;
}

body {
    background: url(../imgs/woodbg.png);
    
    font-family: 'Fredoka', sans-serif;
    overflow:-moz-hidden-unscrollable;
    overflow: overlay;
}
header {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), var(--bs-primary));
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    position: relative;
}
.carousel-item {
    position: relative;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
}
.carousel-inner {
position: relative;
width: 100%;
overflow:hidden;
}
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51,33,29,0.7);
    z-index: 1;
}
.dropdown-menu{
    background: rgba(51,33,29,0.7);
}
#browncaps {
    color: rgb(226, 159, 77) !important;
}