:root{
    --bs-primary: #925107;
    --secondary: #d6872c;
}
* {
    box-sizing: border-box;
}

.menu .container {

    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu .container .menu-title{
    text-align: center;
    
}

.menu .container h2 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.menu .container i {
    color: var(--bs-primary);
    font-size: 1.5rem;
}

.menu .container span:nth-of-type(1),
.menu .container span:nth-of-type(2) {
    display: inline-block;
    width: 5rem;
    height: 1px;
    background-color: var(--secondary);
}

.menu .container .menu-items .menu-item img {
    width: 4rem;
}

.menu .container .menu-items {
    /* background-color: tomato; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu .container .menu-items .menu-item {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap ;
    position: relative;
}

.menu .container .menu-items .menu-item p {
    font-size: small;
    text-indent: 1rem;
    margin: 0;
}
.menu .container .menu-items .menu-item h3 {
    margin: 0;
}

.menu .container .menu-items .menu-item .coffee-desc {
    width: 60%;
    margin-left: 40px;
}
/* Small */
@media (min-width: 768px) {
    .menu .container .menu-items .menu-item {
        width: 100%;
    }

}

/* Medium */
@media (min-width: 992px) {
    .menu .container .menu-items .menu-item {
        width: 33,33%;
    }

}

/* Large */
@media (min-width: 1200px) {
    .menu .container .menu-items .menu-item {
        width: 50%;
    }

}
@keyframes MoveUpDown {

    0%, 100% {

        bottom: 0;

    }

   

    50% {

        bottom: 25%;

    }

}
.menu .container .menu-items .menu-item img {

    width: 4rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu .container .menu-items .menu-item:hover img{

    animation-name: MoveUpDown;

    animation-duration: 1.2s;

    animation-timing-function: ease-in-out;

    animation-iteration-count: infinite;


}
