/* Start Glbal Values  */

:root {
    --bs-primary: #925107;
    --secondary: #d6872c;
}

::placeholder {
    color: white;
}

* {
    box-sizing: border-box;
}


/* End Glbal Values  */


/* Start  reservation  */

.reservation .container {
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.reservation .container .reservation-title {
    text-align: center;
}

.reservation .container h2 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 1rem;
}

.reservation .container i {
    color: var(--bs-primary);
    font-size: 1.5rem;
}

.reservation .container span:nth-of-type(1),
.reservation .container span:nth-of-type(2) {
    display: inline-block;
    width: 5rem;
    height: 1px;
    background-color: var(--bs-primary);
}


/* ------------------------------------- */

.reservation .container .reserv {
    color: white;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.reservation .container .reserv .left-coffee {
    position: relative;
    /* border: red solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* width: 50%; */
    height: 100%;
}

.reservation .container .reserv .left-coffee img {
    width: 300px;
}


.reservation .container .reserv form div {
    margin: 1rem;
    /* padding: 2rem; */
    border-bottom: var(--secondary) solid 1px;
}

.reservation .container .reserv form input {
    width: 75%;
    color: white;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: transparent solid 1px;
    /* padding: 2rem; */
}

.reserv form div input:focus::placeholder,
.reserv form div input:focus {
    color: var(--secondary);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    display: none;
}


/* Small */

@media (min-width: 768px) {
    .reservation .container .reserv form {
        width: 100%;
    }
}


/* Medium */

@media (min-width: 992px) {
    .reservation .container .reserv form {
        width: 50%;
    }
}


/* Large */

@media (min-width: 1200px) {
    .reservation .container .reserv form {
        width: 50%;
    }
}


/* ------------------ */


/* Hide Calendar Icon */


/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
} */


/* input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    /* color: aliceblue; */


/* -webkit-appearance: none; 
}*/


/* .reservation .container .reserv  .left-coffee img {
    animation: MoveUpDown 4s linear infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }

    50% {
        bottom: 100px;
    }
} */